#!/usr/bin/perl -w
use Exporter;

@ISA = ('Exporter');
@EXPORT = qw (@EXPORT_OK);
@EXPORT_OK = qw ($CLUSTALW_PATH $HMMER_BIN_PATH $BLAST_BIN_PATH $BLAST_DB_PATH $IPRSCAN_PATH $BOWTIE_PATH $BOWTIE_DB_PATH $TOPHAT_PATH $EXONERATE_BIN_PATH $AUGUSTUS_PATH $AUGUSTUS_BIN_PATH $AUGUSTUS_CONFIG_PATH $SCIPIO_PATH $BLAT_PATH $CUFFLINKS_PATH $AUGUSTUS_ANALYSIS_PATH $ISGAP_ANALYSIS_PATH $MERGING_ANALYSIS_PATH $PROTEIN_MAPPING_ANALYSIS_PATH $RNASEQ_AUGUSTUS_ANALYSIS_PATH $PM_AUGUSTUS_ANALYSIS_PATH $ISGAP_AUGUSTUS_ANALYSIS_PATH $TGFAM_SCRIPTS_PATH $RUNNGING_PATH $FINAL_ANALYSIS_PATH);

use vars qw($CLUSTALW_PATH $HMMER_BIN_PATH $BLAST_BIN_PATH $BLAST_DB_PATH $IPRSCAN_PATH $BOWTIE_PATH $BOWTIE_DB_PATH $TOPHAT_PATH $EXONERATE_BIN_PATH $AUGUSTUS_PATH $AUGUSTUS_BIN_PATH $AUGUSTUS_CONFIG_PATH $SCIPIO_PATH $BLAT_PATH $CUFFLINKS_PATH $AUGUSTUS_ANALYSIS_PATH $ISGAP_ANALYSIS_PATH $MERGING_ANALYSIS_PATH $PROTEIN_MAPPING_ANALYSIS_PATH $RNASEQ_AUGUSTUS_ANALYSIS_PATH $PM_AUGUSTUS_ANALYSIS_PATH $ISGAP_AUGUSTUS_ANALYSIS_PATH $TGFAM_SCRIPTS_PATH $RUNNING_PATH $FINAL_ANALYSIS_PATH);

## DEFAULT PATH ##
$TGFAM_SCRIPTS_PATH="";  ## Location of annotation scripts
$RUNNING_PATH="";  ## Location running TGFam-Finder 

## PROGRAM PATH ##
$CLUSTALW_PATH = "";
$HMMER_BIN_PATH = "";
$BLAST_BIN_PATH = "";
$IPRSCAN_PATH = "";
$BOWTIE_PATH = "";
$TOPHAT_PATH = "";
$EXONERATE_BIN_PATH = "";
$AUGUSTUS_PATH = "";
$AUGUSTUS_BIN_PATH = "";
$AUGUSTUS_CONFIG_PATH = "";
$SCIPIO_PATH = "";
$BLAT_PATH = "";
$CUFFLINKS_PATH = "";

## PROGRAM ANALYSIS RESULT FOLDER PATH ##
$AUGUSTUS_ANALYSIS_PATH="";
$ISGAP_ANALYSIS_PATH="";
$MERGING_ANALYSIS_PATH="";
$PROTEIN_MAPPING_ANALYSIS_PATH="";
$RNASEQ_AUGUSTUS_ANALYSIS_PATH="";
$PM_AUGUSTUS_ANALYSIS_PATH="";
$ISGAP_AUGUSTUS_ANALYSIS_PATH="";
$FINAL_ANALYSIS_PATH="";

1;
