#!/usr/bin/perl -w
use Exporter;

@ISA = ('Exporter');
@EXPORT = qw (@EXPORT_OK);
@EXPORT_OK = qw ($CLUSTALW_PATH $HMMER_BIN_PATH $BLAST_BIN_PATH $BLAST_DB_PATH $IPRSCAN_PATH $BOWTIE_PATH $BOWTIE_DB_PATH $TOPHAT_PATH $EXONERATE_BIN_PATH $AUGUSTUS_PATH $AUGUSTUS_BIN_PATH $AUGUSTUS_CONFIG_PATH $SCIPIO_PATH $BLAT_PATH $CUFFLINKS_PATH $AUGUSTUS_ANALYSIS_PATH $ISGAP_ANALYSIS_PATH $MERGING_ANALYSIS_PATH $PROTEIN_MAPPING_ANALYSIS_PATH $RNASEQ_AUGUSTUS_ANALYSIS_PATH $PM_AUGUSTUS_ANALYSIS_PATH $ISGAP_AUGUSTUS_ANALYSIS_PATH $TGFAM_SCRIPTS_PATH $RUNNGING_PATH $FINAL_ANALYSIS_PATH);

use vars qw($CLUSTALW_PATH $HMMER_BIN_PATH $BLAST_BIN_PATH $BLAST_DB_PATH $IPRSCAN_PATH $BOWTIE_PATH $BOWTIE_DB_PATH $TOPHAT_PATH $EXONERATE_BIN_PATH $AUGUSTUS_PATH $AUGUSTUS_BIN_PATH $AUGUSTUS_CONFIG_PATH $SCIPIO_PATH $BLAT_PATH $CUFFLINKS_PATH $AUGUSTUS_ANALYSIS_PATH $ISGAP_ANALYSIS_PATH $MERGING_ANALYSIS_PATH $PROTEIN_MAPPING_ANALYSIS_PATH $RNASEQ_AUGUSTUS_ANALYSIS_PATH $PM_AUGUSTUS_ANALYSIS_PATH $ISGAP_AUGUSTUS_ANALYSIS_PATH $TGFAM_SCRIPTS_PATH $RUNNING_PATH $FINAL_ANALYSIS_PATH);

## DEFAULT PATH ##
$TGFAM_SCRIPTS_PATH="";  ## Directory path containing annotation scripts
$RUNNING_PATH="";  ## Location of directory running TGFam-Finder 

## PROGRAM PATH ##
$CLUSTALW_PATH = "";  ## Directory path containing ClustalW execution file
$HMMER_BIN_PATH = "";  ## Directory path containing Hmmer execution file
$BLAST_BIN_PATH = "";  ## Directory path containing BLAST execution file
$IPRSCAN_PATH = "";  ## Directory path including InterproScan execution file 
$BOWTIE_PATH = "";  ## Directory path including Bowtie2 execution file
$TOPHAT_PATH = "";  ## Directory path including Tophat execution file
$EXONERATE_BIN_PATH = "";  ## Directory path containing exonerate execution file
$AUGUSTUS_PATH = "";  ## Directory path of augustus containing 'bin' directory
$AUGUSTUS_BIN_PATH = "";  ## Directory path including augustus execution file
$AUGUSTUS_CONFIG_PATH = "";  ## Location of config directory of augustus
$SCIPIO_PATH = "";  ## Directory path containing scipio execution file 
$BLAT_PATH = "";  ## Directory path including blat execution file
$CUFFLINKS_PATH = "";  ## Directory path including cufflinks execution file

## OUTPUT FOLDER NAME FOR ANALYSIS ##
$AUGUSTUS_ANALYSIS_PATH="";  ## Augustus annotation output directory name that will be created in RUNNING_PATH ex) Augustus
$ISGAP_ANALYSIS_PATH="";  ## ISGAP output directory name
$MERGING_ANALYSIS_PATH="";  ## Output directory name for merging initial gene models
$PROTEIN_MAPPING_ANALYSIS_PATH="";  ## Protein mapping output directory name
$RNASEQ_AUGUSTUS_ANALYSIS_PATH="";  ## Output directory name of augustus annotation for assembled transcripts
$PM_AUGUSTUS_ANALYSIS_PATH="";  ## Output directory name for comparison between protein mapping and augustus
$ISGAP_AUGUSTUS_ANALYSIS_PATH="";  ## Output directory for comparison of results between ISGAP and augustus annotations
$FINAL_ANALYSIS_PATH="";  ## Final result output directory name

1;
