#!/usr/bin/perl -w
use Exporter;

@ISA = ('Exporter');
@EXPORT = qw (@EXPORT_OK);
@EXPORT_OK = qw ($TARGET_GENOME $GFF3_OF_TARGET_GENOME $TSV_FOR_DOMAIN_IDENTIFICATION $PROTEINS_FOR_DOMAIN_IDENTIFICATION $OUTPUT_PREFIX $TARGET_DOMAIN_ID $TARGET_DOMAIN_NAME $REPRESENTATIVE_DOMAIN_NAME $EXTENSION_LENGTH $BLAST_DB_NAME $RESOURCE_PROTEIN $MAX_INTRON_LENGTH $RNASEQ_FORWARD_PATH $RNASEQ_REVERSE_PATH $THREADS $FORBIDDEN_PFAMID $CDS_OF_TARGET_GENOME $EXCLUDED_DOMAIN_ID);

use vars qw($TARGET_GENOME $GFF3_OF_TARGET_GENOME $TSV_FOR_DOMAIN_IDENTIFICATION $PROTEINS_FOR_DOMAIN_IDENTIFICATION $OUTPUT_PREFIX $TARGET_DOMAIN_ID $TARGET_DOMAIN_NAME $REPRESENTATIVE_DOMAIN_NAME $EXTENSION_LENGTH $BLAST_DB_NAME $RESOURCE_PROTEIN $MAX_INTRON_LENGTH $RNASEQ_FORWARD_PATH $RNASEQ_REVERSE_PATH $THREADS $FORBIDDEN_PFAMID $CDS_OF_TARGET_GENOME $EXCLUDED_DOMAIN_ID);

## REQUIRED INFORMATION ##
$TARGET_GENOME = "";  ## Location of assembled genome, fasta format
$PROTEINS_FOR_DOMAIN_IDENTIFICATION = "";  ## ## Location of peptide sequences of reference or allied species, fasta format
$TSV_FOR_DOMAIN_IDENTIFICATION = "";  ## Location of InterPro result of the peptide sequences, tsv format
$RESOURCE_PROTEIN = "";  ## Location of target peptide sequences for annotation that users prepare as resources for mapping analyses, fasta format

$BLAST_DB_NAME = "";  ## Location to automatically construct BLAST DB
$OUTPUT_PREFIX = "";  ## Generated output prefix
$TARGET_DOMAIN_ID = "";  ## Target domain ID saved in fifth column of tsv files such as PF00000, SSF00000, and SM00000, not IPR number
$TARGET_DOMAIN_NAME = "";  ## Target domain name(s)
$REPRESENTATIVE_DOMAIN_NAME = "";  ## Target gene-family name
$EXTENSION_LENGTH = "";  ## Extension length for flanking regions of target domain
$MAX_INTRON_LENGTH = "";  ## Max intron length
$THREADS = "";  ## Number of threads

## OPTIONAL INFORMATION ##
$CDS_OF_TARGET_GENOME = "";  ## Coding DNA sequences of target genome, fasta format
$GFF3_OF_TARGET_GENOME = "";  ## GFF3 of target genome, gff3
$RNASEQ_FORWARD_PATH = "";  ## Forward RNA-seq (forward), fastaq format
$RNASEQ_REVERSE_PATH = "";  ## Reverse RNA-seq (forward), fastaq format
$EXCLUDED_DOMAIN_ID = "";  ## Excluded Target domain ID

1;
