#!/usr/bin/perl -w
use Exporter;

@ISA = ('Exporter');
@EXPORT = qw (@EXPORT_OK);
@EXPORT_OK = qw ($TARGET_GENOME $GFF3_OF_TARGET_GENOME $TSV_FOR_DOMAIN_IDENTIFICATION $PROTEINS_FOR_DOMAIN_IDENTIFICATION $OUTPUT_PREFIX $TARGET_DOMAIN_ID $TARGET_DOMAIN_NAME $REPRESENTATIVE_DOMAIN_NAME $EXTENSION_LENGTH $BLAST_DB_NAME $RESOURCE_PROTEIN $MAX_INTRON_LENGTH $RNASEQ_FORWARD_PATH $RNASEQ_REVERSE_PATH $THREADS $FORBIDDEN_PFAMID $CDS_OF_TARGET_GENOME $EXCLUDED_DOMAIN_ID);

use vars qw($TARGET_GENOME $GFF3_OF_TARGET_GENOME $TSV_FOR_DOMAIN_IDENTIFICATION $PROTEINS_FOR_DOMAIN_IDENTIFICATION $OUTPUT_PREFIX $TARGET_DOMAIN_ID $TARGET_DOMAIN_NAME $REPRESENTATIVE_DOMAIN_NAME $EXTENSION_LENGTH $BLAST_DB_NAME $RESOURCE_PROTEIN $MAX_INTRON_LENGTH $RNASEQ_FORWARD_PATH $RNASEQ_REVERSE_PATH $THREADS $FORBIDDEN_PFAMID $CDS_OF_TARGET_GENOME $EXCLUDED_DOMAIN_ID);

## REQUIRED INFORMATION ##
$TARGET_GENOME = "";  ## Full path of assembled genome (ex, path/filename), fasta format
$PROTEINS_FOR_DOMAIN_IDENTIFICATION = "";  ## Full path of peptide sequences of target or allied species, fasta format
$TSV_FOR_DOMAIN_IDENTIFICATION = "";  ## Full path of InterPro result of the peptide sequences, tsv format
$RESOURCE_PROTEIN = "";  ## Full path of target peptide sequences in multiple species that users prepare as resources for each annotation step, fasta format

$BLAST_DB_NAME = "";  ## Full path of BLAST DB that will be automatically created
$OUTPUT_PREFIX = "";  ## Output prefix generated results
$TARGET_DOMAIN_ID = "";  ## Target domain ID saved in fifth column of tsv files such as PF00000, SSF00000, and SM00000, not IPR number
$TARGET_DOMAIN_NAME = "";  ## target domain name(s)
$REPRESENTATIVE_DOMAIN_NAME = "";  ## Target gene-family name
$EXTENSION_LENGTH = "";  ## Extension length for flanking regions of target domain
$MAX_INTRON_LENGTH = "";  ## Max intron length
$THREADS = "";  ## Number of threads

## OPTIONAL INFORMATION ##
$CDS_OF_TARGET_GENOME = "";  ## Full path of coding DNA sequences of the target genome, fasta format
$GFF3_OF_TARGET_GENOME = "";  ## Full path of GFF3 of the target genome, gff3 
$RNASEQ_FORWARD_PATH = "";  ## Full path of RNA-seq (forward), fastaq format
$RNASEQ_REVERSE_PATH = "";  ## Full path of RNA-seq (reverse), fastaq format
$EXCLUDED_DOMAIN_ID = "";  ## Excluded Target domain ID

1;