#!/usr/bin/perl -w
use Exporter;

@ISA = ('Exporter');
@EXPORT = qw (@EXPORT_OK);
@EXPORT_OK = qw ($CLUSTALW_PATH $HMMER_BIN_PATH $BLAST_BIN_PATH $BLAST_DB_PATH $IPRSCAN_PATH $BOWTIE_PATH $BOWTIE_DB_PATH $TOPHAT_PATH $EXONERATE_BIN_PATH $AUGUSTUS_PATH $AUGUSTUS_BIN_PATH $AUGUSTUS_CONFIG_PATH $SCIPIO_PATH $BLAT_PATH $CUFFLINKS_PATH $AUGUSTUS_ANALYSIS_PATH $ISGAP_ANALYSIS_PATH $MERGING_ANALYSIS_PATH $PROTEIN_MAPPING_ANALYSIS_PATH $RNASEQ_AUGUSTUS_ANALYSIS_PATH $PM_AUGUSTUS_ANALYSIS_PATH $ISGAP_AUGUSTUS_ANALYSIS_PATH $TGFAM_SCRIPTS_PATH $RUNNGING_PATH $FINAL_ANALYSIS_PATH);

use vars qw($CLUSTALW_PATH $HMMER_BIN_PATH $BLAST_BIN_PATH $BLAST_DB_PATH $IPRSCAN_PATH $BOWTIE_PATH $BOWTIE_DB_PATH $TOPHAT_PATH $EXONERATE_BIN_PATH $AUGUSTUS_PATH $AUGUSTUS_BIN_PATH $AUGUSTUS_CONFIG_PATH $SCIPIO_PATH $BLAT_PATH $CUFFLINKS_PATH $AUGUSTUS_ANALYSIS_PATH $ISGAP_ANALYSIS_PATH $MERGING_ANALYSIS_PATH $PROTEIN_MAPPING_ANALYSIS_PATH $RNASEQ_AUGUSTUS_ANALYSIS_PATH $PM_AUGUSTUS_ANALYSIS_PATH $ISGAP_AUGUSTUS_ANALYSIS_PATH $TGFAM_SCRIPTS_PATH $RUNNING_PATH $FINAL_ANALYSIS_PATH);

## DEFAULT PATH ##
$TGFAM_SCRIPTS_PATH="setTGFamSoftLoc/scripts";  ## Directory path containing annotation scripts
$RUNNING_PATH="setTGFamSoftLoc/test_sample";  ## Location of directory running TGFam-Finder 

## PROGRAM PATH ##
$CLUSTALW_PATH = "setTGFamSoftLoc/clustalw-2.1-linux-x86_64-libcppstatic";  ## Directory path containing ClustalW execution file
$HMMER_BIN_PATH = "setTGFamSoftLoc/hmmer-3.1b2-linux-intel-x86_64/binaries";  ## Directory path containing Hmmer execution file
$BLAST_BIN_PATH = "setTGFamSoftLoc/ncbi-blast-2.6.0+/bin";  ## Directory path containing BLAST execution file
$IPRSCAN_PATH = "setTGFamSoftLoc/interproscan-5.22-61.0";  ## Directory path including InterproScan execution file 
$BOWTIE_PATH = "setTGFamSoftLoc/bowtie2-2.3.1-legacy";  ## Directory path including Bowtie2 execution file
$TOPHAT_PATH = "setTGFamSoftLoc/tophat-2.1.1.Linux_x86_64";  ## Directory path including Tophat execution file
$EXONERATE_BIN_PATH = "setTGFamSoftLoc/exonerate-2.2.0-x86_64/bin";  ## Directory path containing exonerate execution file
$AUGUSTUS_PATH = "setTGFamSoftLoc/augustus-3.2.3";  ## Directory path of augustus containing 'bin' directory
$AUGUSTUS_BIN_PATH = "setTGFamSoftLoc/augustus-3.2.3/bin";  ## Directory path including augustus execution file
$AUGUSTUS_CONFIG_PATH = "setTGFamSoftLoc/augustus-3.2.3/config";  ## Location of config directory of augustus
$SCIPIO_PATH = "setTGFamSoftLoc/scipio-1.4";  ## Directory path containing scipio execution file 
$BLAT_PATH = "setTGFamSoftLoc/blat";  ## Directory path including blat execution file
$CUFFLINKS_PATH = "setTGFamSoftLoc/cufflinks-2.2.1.Linux_x86_64";  ## Directory path including cufflinks execution file

## OUTPUT FOLDER NAME FOR ANALYSIS ##
$AUGUSTUS_ANALYSIS_PATH="Augustus";  ## Augustus annotation output directory name that will be created in RUNNING_PATH ex) Augustus
$ISGAP_ANALYSIS_PATH="ISGAP";  ## ISGAP output directory name
$MERGING_ANALYSIS_PATH="Merging";  ## Output directory name for merging initial gene models
$PROTEIN_MAPPING_ANALYSIS_PATH="Protein_mapping";  ## Protein mapping output directory name
$RNASEQ_AUGUSTUS_ANALYSIS_PATH="ISGAP.Augustus";  ## Output directory name of augustus annotation for assembled transcripts
$PM_AUGUSTUS_ANALYSIS_PATH="PM.Augustus";  ## Output directory name for comparison between protein mapping and augustus
$ISGAP_AUGUSTUS_ANALYSIS_PATH="ISGAP.Aug.Partial_Augustus";  ## Output directory for comparison of results between ISGAP and augustus annotations
$FINAL_ANALYSIS_PATH="Final";  ## Final result output directory name

1;
